.project_container {
    width: 100%;
    padding: 2em;
}

.title_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4em;
}

.title_container h1 {
    font-size: 2em;
}

.main_container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}